# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

NEXT_PUBLIC_SANITY_PROJECT_ID="sanity-project-id"
NEXT_PUBLIC_SANITY_DATASET="sanity-dataset-name"
NEXT_PUBLIC_SANITY_USE_CDN="false"
REVALIDATION_SECRET="some-random-string--same-as-in-sanity"

# Find this in your Vercel project's general settings
VERCEL_PROJECT_ID=""

# Get a token via your Vercel profile settings
VERCEL_TOKEN=""

# Get this value by hitting `https://api.vercel.com/v9/projects/{{VERCEL_PROJECT_ID}}/env?target=production` with a valid token
VERCEL_ENV_VAR_ID=""

# Create a deploy hook on the Vercel project settings
VERCEL_DEPLOY_HOOK_URL=""

# Set a secret in Sanity by attaching a custom header `x-sanity-webhook-secret` with this value
SANITY_WEBHOOK_SECRET="some-random-string--same-as-in-sanity"

# Uncomment this to test out password protection
#PASSWORD_PROTECTION='{"isPrivate":true,"username":"admin","password":"admin"}'
