@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gutter: 1rem;
  --color-background: 239 245 248;
  --color-foreground: 131 27 72;
  --color-link: 212 36 112;
}

@media screen and (min-width: theme("screens.md")) {
  :root {
    --gutter: 2rem;
  }
}

@layer base {
  body {
    @apply bg-background;
    @apply text-foreground;
    @apply text-0;
    @apply font-sans;
    @apply antialiased;
  }
  
  .markdown p {
    @apply mb-em/2 last:mb-0;
  }

  .markdown h1,
  .markdown h2,
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    @apply text-7;
    @apply font-bold;
    @apply mb-em/2 last:mb-0;
  }

  .markdown blockquote {
    @apply pl-em;
    @apply mb-em/2;
    @apply last:mb-0;
  }

  .markdown a,
  .markdown a:visited {
    @apply text-link;
    @apply underline;
  }

  .markdown ul {
    @apply list-disc;
    @apply mb-em/2;
    @apply last:mb-0;
  }

  .markdown .block-content {
    @apply mb-em/2;
    @apply last:mb-0;
  }
}

@layer utilities {
  .no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
  }

  .no-scrollbar::-webkit-scrollbar {
    width: 0;
  }
    
  .no-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .no-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
}